@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

:root {
    --sec-bg-color: #183d3d;
    --sec-font-color: #5c8374;
    --main-bg-color: #040d12;
    --main-font-color: #93b1a6;
    --ship1-color: #7e1891;
    --ship2-color: #e73879;
    --ship3-color: #f26b0f;
    --ship4-color: #fcc737;
    --ship5-color: #6a80b9;
    --hit-color: #e4003a;
    --miss-color: #686d76;
}

* {
    font-family: 'Jersey 15';
    box-sizing: border-box;
    color: var(--main-font-color);
}

h1 {
    font-size: 72px;
    margin: 0px;
}

h2 {
    font-size: 32px;
    margin: 0px;
}

.bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

body {
    background-color: var(--sec-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-bg-color);
}

button:hover {
    background-color: var(--sec-font-color);
    color: var(--main-bg-color);
}

.player,
.opponent {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 4px;
    padding: 4px;
}

.boards {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.board > div {
    background-color: var(--sec-font-color);
    height: 3vw;
    width: 3vw;
}

.player {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.opponent {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.player-text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.opponent-text {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.player-head {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.opponent-head {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.game-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-start;
    font-size: 40px;
}

#start {
    font-size: 24px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.board > .ship1 {
    background-color: var(--ship1-color);
}

.board > .ship2 {
    background-color: var(--ship2-color);
}

.board > .ship3 {
    background-color: var(--ship3-color);
}

.board > .ship4 {
    background-color: var(--ship4-color);
}

.board > .ship5 {
    background-color: var(--ship5-color);
}

.board > .miss {
    background-color: var(--miss-color);
}

.board > .hit {
    background-color: var(--hit-color);
}
